# -------------------------------
# OS / Editor
# -------------------------------
.DS_Store
.idea/
.vscode/

# -------------------------------
# Virtual Environment
# -------------------------------
venv/
.venv/
env/
ENV/
bin/
lib/
include/
pyvenv.cfg

# -------------------------------
# Python Bytecode / Cache
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Build / Packaging
# -------------------------------
build/
dist/
.eggs/
*.egg-info/
*.egg
*.manifest
*.spec

# -------------------------------
# Testing / Coverage
# -------------------------------
.pytest_cache/
.coverage
.tox/
.nox/
.mypy_cache/
.hypothesis/

# -------------------------------
# Jupyter / Notebooks
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Logs / Env files
# -------------------------------
*.log
.env
.env.*

# -------------------------------
# Others
# -------------------------------
*.sqlite3
*.db
